{% extends 'base.html' %} 

{% block title %}
    {{blog.title}}   
{% endblock %}

{% block content %}
    <h2> {{blog.desc}} </h2>
    <p> {{blog.created_at}} </p>
    <hr>
    <h3> Komentar</h3>
    <form action="{% url 'blogs:comment' blog.id%}" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Send">       
    </form>
    {% for comment in blog.comment_set.all %}
        <p> {{ comment.desc }} - 
            <a href="{% url 'blogs:comment-edit' comment.id %}"> Edit </a>
        </p>
    {% endfor %}
{% endblock %}